<!DOCTYPE html>
<html>
    <head>
        <title>Express - Basic Auth</title>
    </head>
    <body>

        <h2>Adicionar carro</h2>

        <form action="/admin/loja/add-carro" method="post">
            <label>Nome</label>
            <input name="name">

            <label>Marca</label>
            <input name="mark">

            <label>Cor</label>
            <input name="color">

            <label>Valor</label>
            <input name="value" type="number">

            <label>Preço da diária</label>
            <input name="dialyValue" type="number">

            <button type="submit">Criar</button>
        </form>
        
    </body>
</html>