<!DOCTYPE html>
<html>
    <head>
        <title>Express - Basic Auth</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>        
    </head>
    <style>
        body {
            display: flex;
            justify-content: center;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .btn {
            width: 250px;
            height: 70px;
            background-color: blue;
            border: 0;
            justify-content: center;
        }
        input {
            width: 50vw;
            height: 50px;
            border: none;
        
        }
        div{
            display: flex;
            justify-content: center;
        }
    </style>
    <body>

        <form action="/sign-up" method="POST">
            Nome: <input class="input type="text" name="name"/><br/>
            Email: <input type="email" name="email"/><br/>
            Senha: <input type="password" name="password"/><br/>
            <div>
                <input class="btn" type="submit" value="Entrar"/>
            </div>
        </form> 
    </body>
</html>